@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100i,200,200i,300,300i,400,400i');

body {
  font-family: 'Libre Franklin', sans-serif;
}

header {
  padding: 30px 0 40px  0;
}

.confirm-section {
  max-width: 600px;
}

.form-control {
  border-radius: 0;
}

.tooltip-inner {
    max-width: 400px;
    /* If max-width does not work, try using width instead */
    width: 350px;
}

.info-part ol {
  height: 300px;
  overflow-y: scroll;
}
#radio-error {
  color: red;
}
@media (max-width: 767px) {
  input[type="submit"] {
    display: block;
    width: 100%;
  }
}


/*  validation css  */


input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.ui-widget-header .ui-icon {
  background-image: url(../images/ui-icons_444444_256x240.png);
}

#ui-datepicker-div {
  background-color: white;
  padding: 2px;
}

.visibility .col-xs-3 {
  margin-top: -10px;
}

.ias .col-xs-2 {
  margin-top: -10px;
}
